<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="centerBlock">
            <h1 class="text-success"><kbd>var teamName = "Quality Control"<br/>var projectName = "Groupify"</kbd></h1>
        </div>
    </div>
</div>
<hr />
<div class="row"
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="centerBlock">
                <blockquote>
                    <h3 style="color:white;">No one remembers the parties with bad music.</h3>
                    <footer style="color:white;">- Anyone who has attended a party</footer>
                </blockquote>
        </div>
        <div class="centerBlock">
            <h2 style="color:white; text-align:center;">
                Groupify is a social web application that allows party organizers <br/>
                to arrange music based on who is attending.
            </h2>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
        
    </div>
    <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8">
        <div class="button-log-in text-center">
            <a href="@Url.Action("SpotifyAuthorization")" class="btn btn-success btn-block" role="button">Log in</a>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
        
    </div>
</div>

<footer class="footer" style="color:white;">
    <hr />
    <p>&copy; @DateTime.Now.Year - hackWSU Project - Jacob Byrd, Samuel Cabell</p>
</footer>



<style type="text/css">
    .centerBlock {
        display: table;
        margin: 0 auto;
    }

    .btn .btn-primary .btn-block {
        display: unset;
        width:75%;
    }
</style>

@section scripts{
    <script>
        
    </script>
}